@import "variables.less";
@import "elements.less";
@import "mixins.less";

/* ALL */
#gmce_vote_box, #gmce_revisions_box, #gmce_comments_wrapper {
    width:100%;
    padding: 10px 0;
    margin: 0 0 36px 0;
    font-size:14px;
    line-height:1em;
    background-color: @main-bg;
    color: @medium-grey;
    font-family:Arial, Helvetica, sans-serif;
    .rounded(3px);
    * { .insideReset; }
    ul { list-style: none; }
    small { font-size:10px; }
    h2, h3, h4 { .headings; }
    h2 { font-size:1.2em; }
    h3 { font-size:1.1em; }
    h4 { font-size:1em; font-weight: bold; font-variant-caps: small-caps; }
    input[type="checkbox"], input[type="radio"], input[type="button"], input[type="submit"]  {
        cursor: pointer;
    }
}

#gmce_admin_votebox .inside #gmce_vote_box {
    background-color: transparent!important;
    background: none!important;
    padding: 0!important;
}

/* Votes */
#gmce_vote_box {
    h2 {
        margin-bottom: 20px;
        display:block;
        #gmce_score_wrap {
            font-size: 0.85em!important;
            .score;
        }
    }
    #gmce_vote_box_summary {
        #gmce_vote_box_feedback {
            .already_revised_msg { text-align:left; font-size: 0.8em; margin-top: 6px; }
            .marked_fixed { text-align:left; font-size: 0.8em; margin-top: 6px; }
            .feedback;
        }
    }
    #gmce_vote_box_votes {
        #gmce_vote_box_approve {
            padding:10px;
            input[type='button'] {
                width:100%;
                font-size:1.1em;
                text-align:center;
                color:@white;
                padding:8px;
                margin:0;
                .mybutton( @success );
                &.disabled { background-color:@disabled!important; cursor:not-allowed; }
            }
            p {
                margin:4px 0 0 0;
                padding:8px;
                &.gmce_vote_box_btn {}
                &.gmce_approve_approvers {
                    margin-top:4px;
                    border-top:1px solid @light-grey;
                }
            }
            ul {
                float: none;
                margin-bottom: 24px;
                li.gmce_approver {
                    margin: 6px 0 6px 10px;
                    div.gmce_approver_actions {
                        a {
                            float: left;
                            display: block;
                            font-size: 12px;
                            font-weight: bold;
                            text-decoration: none;
                            text-align: center;
                            line-height: 14px;
                            margin:0 2px 0 0;
                            width: 14px;
                            height: 14px;
                            color: @white;
                            &:hover { text-decoration: none; }
                            &.gmce_approve_delete { .mybutton( lighten(@error, 25%) ); }
                            &.gmce_approve_punish { .mybutton( @error ); }
                        }
                    }
                    span.gmce_approver_link {
                        margin-left: 6px;
                    }
                }
            }
            .gmce_action_confirm {
                .mybutton( @error, 4px );
                margin:12px 8px 24px;
                p {
                    color:@white;
                    margin: 0;
                    a {
                        color:@white;
                        font-weight: bold;
                    }
                }
            }
        }
        #gmce_vote_box_deny {
            padding:0 10px 10px;
            #gmce_vote_box_deny_title {
                margin: 5px 0 0 0;
                padding: 0;
                h3 {
                    font-size:1.1em;
                    text-align:center;
                    color:@dark-error;
                    font-weight: bold;
                    margin: 0;
                    padding: 0;
                }
                p {
                    text-align:center;
                    font-style: italic;
                    font-size: 0.8em;
                }
            }
            input[type='radio'] { }
            input[type='button'] { .revisionButton; }
            textarea { .revisionTextarea; }
            ul {
                margin:0 0 10px 0;
                padding:0;
                li {
                    margin:8px 0 0 0;
                    padding:0;
                    small { font-style:italic; }
                    label { font-size:12px; }
                    span.count { font-weight:bold; }
                }
            }
            p {
                margin:4px 0 0 0;
                &.deny_comment_wrap {
                    small.reason_comment_desc { font-size:10px; font-weight:bold;}
                }
                &.gmce_vote_box_btn {}
                &.gmce_approve_denyers {
                    padding:8px;
                    border-top:1px solid @light-grey;
                }

            }
        }
        .gmce_have_final {
            margin: 4px 10px;
            padding:8px;
            border-top:1px solid @light-grey;
        }
    }
    div {
        a#gmce_show_rev_link { .showButtons; }
    }
}

/* Revisions */
#gmce_revisions_box {
    h2 {
        font-size: 1.2em;
        font-weight: bold;
        margin-top: 0;
    }
    h3 {
        text-align: center;
        font-size:1em;
        font-weight: bold;
        margin: 4px 0 20px;
        color: @medium-grey;
        #gmce_score_wrap { .score; }
    }
    h4 {
        font-weight: normal;
        &.gmce_approved_title {
            font-size: 0.8em;
            text-align: left;
            padding: 0 7px;
            margin: 20px 5px 4px;
        }
        &.gmce_revision_summary_title {
            font-size: 0.8em;
            text-align: left;
            padding: 0 7px;
            margin: 10px 5px 4px;
            .unfixed_count {
                color: @error; font-weight: bold;
            }
        }
        #gmce_revisions_actions {
            text-align: right;
            margin-left:20px;
            a {
                font-size: 0.7em;
                text-decoration: none;
                margin-left:4px;
                padding: 0 3px;
                &:hover { text-decoration: none; }
                .mybutton( @light-grey );
            }
        }
    }
    ul#gmce_revisions_summary {
        display:block;
        padding:5px;
        font-size: 0.66em;
        line-height: 1em;
        background-color: @white;
        margin: 0 5px 10px;
        li {
            margin: 2px 0 2px 10px;
            list-style:disc;
            list-style-position:inside;
            b { font-weight: bold; }
        }
    }
    #gmce_revisions {
        margin: 8px 0;
        .gmce_revision {
            padding: 8px 8px 28px 9px;
            margin: 0 5px 12px;
            background-color: @white;
            border: 1px solid @light-grey;
            position: relative;
            .rounded(3px);
            &.fixed {
                background-color: @verylight-grey!important;
                h4.gmce_revision_reason { color: @disabled!important; }
                .gmce_revision_content { color: @disabled!important; }
            }
            &.final {
                border-color: lighten(@error, 40%)!important;
            }
            .gmce_revision_actions {
                position: absolute;
                bottom: 8px;
                right: 4px;
                width: 200px;
                height: 14px;
                a {
                    display: block;
                    float: right;
                    font-size: 12px;
                    font-weight: bold;
                    text-decoration: none;
                    text-align: center;
                    line-height: 14px;
                    margin:0 4px 0 0;
                    width: 14px;
                    height: 14px;
                    color: @white;
                    &:hover { text-decoration: none; }
                    &.gmce_rev_close { .mybutton( #afafaf ); }
                    &.gmce_rev_delete { .mybutton( lighten(@error, 25%) ); }
                    &.gmce_rev_punish { .mybutton( @error ); }
                }
            }
            .gmce_action_confirm {
                padding:8px;
                .mybutton( @error, 4px );
                margin:12px 8px 24px;
                p {
                    color:@white;
                    margin-bottom: 4px;
                    a {
                        color:@white;
                        font-weight: bold;
                    }
                }
            }
            .gmce_revision_fixed_btn {
                text-align: right;
                font-weight: bold;
                font-size: 0.8em;
                label {
                    float: right;
                    font-size: 0.85em;
                    margin: 0 0 0 4px;
                    display: block;
                }
                input {}
            }
            h4 {
                &.gmce_revision_reason {
                    text-align: left;
                    padding: 0 4px 4px 4px;
                    margin: 0;

                }
                .gmce_added_score { margin: 0; padding: 0; color: @medium-grey; font-size: 0.85em; }
                .gmce_added_author { margin: 0; padding: 0; color: @medium-grey; }
            }
            .gmce_revision_content {
                padding: 5px 5px 0 5px;
                margin: 0;
                font-size: 0.8em;
                text-align: justify;
                overflow: hidden;
                p { padding: 3px 0; }
            }
            .gmce_revision_meta {
                margin: 5px 0;
                p {
                    font-size: 0.7em;
                    margin: 0;
                    &.gmce_revision_author_time {
                        text-align: right;
                        span { color: @medium-grey!important; }
                    }
                    .gmce_revision_author {
                        font-weight: bold;
                        a {
                            text-decoration: none;
                            &:hover { text-decoration: underline; }
                        }
                    }
                    .gmce_revision_time { font-style: italic; }
                    &.gmce_revision_comment {
                        margin-top: 4px;
                        text-align: left;
                        a {
                            color: @medium-grey;
                            text-decoration: underline;
                            font-size: 1.1em;
                            &:hover { color: @black; }
                        }
                    }
                }
            }
            .gmce_revision_thumbs {
                width: 72px;
                height: 16px;
                margin-top: 15px;
                .thumb {
                    width: 16px;
                    margin-right: 8px;
                    float: left;
                    display: block;
                    .icon {
                        display: inline-block;
                        width: 16px;
                        height: 16px;
                        fill: @medium-grey;
                        &.disabled { fill: @disabled!important; }
                    }
                    .icon-like {
                        cursor: pointer;
                        &.voted { fill: @success;}
                        &:hover { fill: @dark-success; }
                    }
                    .icon-dislike {
                        cursor: pointer;
                        &.voted { fill: @error; }
                        &:hover { fill: @dark-error; }
                    }
                }
                .thumb_score {
                    width: 16px;
                    height: 16px;
                    line-height: 16px;
                    display: block;
                    margin-right: 8px;
                    float: left;
                    font-size: 16px;
                    font-weight: bold;
                    color: @medium-grey;
                    &.up { color: @dark-success; }
                    &.down { color: @dark-error; }
                }
            }
            .gmce_revision_thumbs_voters {
                width: 100%;
                margin-top: 6px;
                padding: 3px;
                font-size: 10px;
                font-size: normal;
                a { color: @medium-grey; text-decoration: underline; }
                h6 { font-weight: bold; }
                ul {
                    li { list-style:disc inside; line-height: 1em; }
                }
            }
        }
        .gmce_no_revisions {
            padding: 10px;
            text-align: justify;
            font-size: 0.8em;
        }

    }
    div {
        a#gmce_show_vote_link { .showButtons; }
    }
    #gmce_revisions_feedback { .feedback; }
    #gmce_final_revision_wrap {
        p {
            margin: 0 8px;
            textarea { .revisionTextarea; }
            input[type="button"] { .revisionButton; }
        }
    }
}

/* Comments Popup */
.wp-admin {
    #TB_ajaxContent {
        width: 640px!important;
    }
    #gmce_comments_wrapper {
        width:610px!important;
        #gmce_comments_revision { width:586px!important; }
        #gmce_comments_comment_form_wrap { width:610px!important; }
    }
}
#gmce_comments_wrapper {
    font-size: 12px!important;
    width:95%;
    padding: 10px;
    background-color:@white!important;
    #gmce_comments_original_show {
        text-align: right;
        a {
            font-weight: bold;
            font-style: italic;
            &:hover {}
        }
    }
    #gmce_comments_original {
        padding: 10px;
        margin: 6px 0 15px 0;
        border-left: 3px solid @light-grey;
        h5 {
            font-size: 1.05em; font-weight: bold;
            i { font-style: italic; color: @medium-grey; }
        }
        .gmce_comments_original_content {
            text-align:justify;
            font-size: 1em;
            line-height: 1.2em;
        }
    }
    #gmce_comments_revision {
        background-color: @verylight-grey;
        padding: 0 10px;
        border: 1px solid @light-grey;
        border-left: 3px solid @error;
        margin: 15px 0;
        h4 {
            font-size: 1.1em;
            font-weight: bold;
            margin-bottom: 4px;
        }
        .gmce_comments_revision_reason {
            font-weight: bold;
            font-size: 1em;
            line-height: 1.2;
            font-style: italic;
            color: @error;
        }
        .gmce_comments_revision_content {
            text-align: justify;
            font-size: 1.1em;
            line-height: 1.2;
        }
        .gmce_comments_revision_meta {
            text-align: right;
            p {
                .gmce_comments_revision_author {
                    font-weight: bold;
                    a { text-decoration: none; }
                }
                .gmce_comments_revision_time{ font-style: italic; }
            }
        }
    }
    #gmce_comments_comment_form_wrap {
        width:100%;
        h4 {
            font-size: 1em;
            font-weight: bold;
            a.gmce_leave_comment_open {
                text-decoration: none;
                padding: 6px;
                display: block;
                color: @white;
                .mybutton( @success );
                text-align: center;
            }
        }
        #gmce_comments_feedback {
            margin:10px;
            padding:9px;
            background-color:@white;
            text-align:center;
            font-weight:bold;
            border: 1px solid @light-grey;
            &.success { color:@dark-success; }
            &.error { color:@dark-error; }
        }
        #gmce_comment_content_wrap {
            width:100%;
            margin: 15px 0;
            &.closed { display: none; }
            textarea{
                width: 98%;
                padding: 5px;
                font-size: .9em;
                line-height: 1.1em;
                border: 1px solid @light-grey;
            }
            p { text-align: right; }
            a#gmce_leave_comment_close {
                text-decoration: none;
                &:hover { text-decoration: none; }
            }
            input[type="button"] {
                .mybutton( @success );
                color: @white;
                padding: 4px 8px;
                text-align: center;
                font-size: 1.1em;
            }
        }
    }
    h4 {
        &.gmce_comments_list_title {
            font-size: 1.2em;
            font-weight: bold;
            margin: 20px 0 0 0;
        }
        #gmce_comments_sort {
            margin: 0;
            padding: 0;
            text-align: right;
        }
    }
    #gmce_comments_sort {
        margin: 0;
        padding: 0;
        text-align: right;
        a, a:hover { text-decoration:none }
    }
    ul#gmce_comments_list {
        margin: 10px 0 ;
        li.gmce_comment {
            margin: 10px 0;
            padding: 4px 5px;
            border: 1px solid @light-grey;
            list-style: none!important;
            .rounded(3px);
            .gmce_comment_content {
                text-align: justify;
                font-size: 1.1em;
                line-height: 1.3em;
                .deleted { font-style: italic; color:@disabled; }
            }
            p {
                &.gmce_comment_author_time {
                    text-align: right;
                    font-size: 0.95em;
                    .gmce_comment_author {
                        font-weight: bold;
                        a { text-decoration: none; }
                    }
                    .gmce_comment_time {}
                }
            }
        }
    }
    .gmce_comments_nocomments {
        padding-top: 24px;
        margin-top: 24px;
        border-top: 1px solid @light-grey;
        a.be_the_first { font-weight: bold; }
    }
}