.insideReset () {
    margin: 0; padding: 0;
    font-size: 100%; font: inherit;
    color:@medium-grey;
    text-decoration: none; text-transform: none; text-shadow: none;
    background: none;
}

.mybutton( @color, @round:2px ) {
    background:none;
    outline: none;
    border:none;
    box-shadow: none;
    .bordered(darken(@color, 3%), darken(@color, 3%), darken(@color, 5%), darken(@color, 3%));
    .gradient(@color, darken(@color, 5%), @color);
    .rounded(@round);
    &:hover {
        text-decoration: none;
        .bordered(darken(@color, 5%), darken(@color, 5%), darken(@color, 10%), darken(@color, 5%));
        .gradient(darken(@color, 3%), darken(@color, 10%), darken(@color, 3%));
    }
}

.showButtons() {
    display:block;
    margin:12px;
    padding:8px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    .mybutton( @white );
}

.headings () {
    padding-top:10px;
    margin:10px 0;
    text-align:center;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.score() {
    margin-left:10px;
    padding:4px 6px;
    color: @white;
    font-weight: normal;
    cursor: help;
    .rounded(3px);
    .gradient(@error, darken(@error, 5%), @error);
    &.score_done {
        background:none;
        .gradient(@success, darken(@success, 5%), @success);
    }
    #gmce_score {
        color: @white;
        font-weight: bold;
    }
}

.revisionButton() {
    &.gmce_deny_btn {
        .mybutton( @error );
        padding: 4px 8px;
        color: @white;
        font-size: 0.9em;
        font-weight: bold;
        margin: 0;
    }
    &:hover {  background-color:@dark-error; }
}

.revisionTextarea() {
    background-color: @white;
    border:1px solid @light-grey;
    padding: 4px;
    width:100%;
    min-height: 5em;
    margin:4px 0;
    font-size: 11px;
}

.feedback() {
    margin:10px;
    padding:10px;
    background-color:@white;
    text-align:center;
    font-weight:bold;
    &.success { color:@dark-success; }
    &.error { color:@dark-error; }
}