@main-width: 300px;
@white: #fff;
@black: #000;
@main-bg: #fff;
@verylight-grey: #f9f9f9;
@light-grey: #e4e4e4;
@disabled: #666;
@medium-grey: #444;
@success: #090;
@dark-success: #060;
@error: #C00;
@dark-error: #900;
@disabled: #999;