<h4>{{ final_revision }}</h4>

{{ do_action('gmce_revisionsbox_final_title', post ) }}

<div id="gmce_final_revision_wrap">

    {{ do_action('gmce_revisionsbox_final_textarea_before', post ) }}

    <p id="gmce_final_revision_comment" class="final_revision_wrap">
        <textarea placeholder="{{ add_final_rev_comment|raw }}" name="gmce_final_revision_content"
                  rows="3"></textarea>
    </p>

    {{ do_action('gmce_revisionsbox_final_textarea_after', post ) }}

    <p align="right">
        <input type="button" id="gmce_deny_btn_{{ post.ID }}" class="gmce_deny_btn" data-post="{{ post.ID }}"
               value="{{ deny_btn_label }}" />
    </p>

    {{ do_action('gmce_revisionsbox_final_button_after', post ) }}

</div>