<div class="gmce_revision_meta">

    {{ do_action('gmce_revisionsbox_revision_meta_start', revision, post ) }}

    <p class="gmce_revision_author_time">
        <span class="gmce_revision_author">
            {% if revision.reason_slug == '_final_revision_' %}{{ editors_label }}{% else %}
                <a href="{{ revision.author_url }}" target="_blank">{{ revision.author|raw }}</a>
            {% endif %}
        </span> -

        {{ do_action('gmce_revisionsbox_revision_meta_author', revision, post ) }}

        <span class="gmce_revision_time">{{ revision.time }}</span>

        {{ do_action('gmce_revisionsbox_revision_meta_time', revision, post ) }}

    </p>

    {{ do_action('gmce_revisionsbox_revision_meta_authortime', revision, post ) }}

    <p class="gmce_revision_comment">
        <a href="#" id="gmce_comment_link" data-rev="{{ revision.ID }}" data-post="{{ post.ID }}">
            {% if revision.has_comments %}{{ show_add_comments }} ({{ revision.has_comments }})
            {%else%}{{ add_comments }}{%endif%}
        </a>
    </p>

    {{ do_action('gmce_revisionsbox_revision_meta_end', revision, post ) }}

</div>
