{% include "Revisions/Revision_Thumb_Icons.twig" %}
<div class="gmce_revision_thumbs">
    {% if revision.post_author != user.ID and user.can_thumb_vote %}
        <a class="thumb thumb-up" title="{{thumbs.vote_up}}">
            <svg class="icon icon-like{% if revision.currentuser_voted_up %} voted voted-up{% endif %}" viewBox="0 0 16 16">
            <use xlink:href="#icon-like"></use>
            </svg>
        </a>
        <a class="thumb thumb-down" title="{{thumbs.vote_down}}">
            <svg class="icon icon-dislike{% if revision.currentuser_voted_down %} voted voted-down{% endif %}" viewBox="0 0 16 16">
            <use xlink:href="#icon-dislike"></use>
            </svg>
        </a>
    {% else %}
        <span class="thumb"><svg class="icon disabled" viewBox="0 0 16 16"><use xlink:href="#icon-like"></use></span>
        {% endif %}
    <div class="thumb_score {% if revision.get_thumb_score > 0 %}up{% elseif revision.get_thumb_score < 0 %}down{% endif %}">
        {{ revision.get_thumb_score }}
    </div>
</div>
{% if revision.post_author == user.ID or user.is_admin_or_author %}
    {% set uppers = revision.get_thumb_uppers ? : [] %}
    {% set downers = revision.get_thumb_downers ? : [] %}
    {% if  uppers or ( user.is_admin and ( uppers or downers ) ) %}
        {% set voters = user.is_admin ? uppers|merge(downers) : uppers %}
        {% set show_voters = voters|slice(-5,5) %}
        {% set title = user.is_admin ? ( voters|length > 1 ? thumbs.last_voters : thumbs.last_voter ) : ( voters|length > 1 ? thumbs.last_upvoters : thumbs.last_upvoter ) %}
        <div class="gmce_revision_thumbs_voters">
            {% if show_voters %}
                <h6>{{ title|format(show_voters|length) }}{% if (voters|length > 5) or user.is_admin %} (<a href="#">{{ thumbs.view_all }}</a>){% endif%}</h6>
                <ul><li>{{ show_voters|join('</li><li>')|raw }}</li></ul>
            {% endif %}
        </div>
    {% endif %}
{% endif %}
