{% set rev_class = revision.get_fixed ? 'gmce_revision fixed' : 'gmce_revision' %}
    {% set rev_class_final = revision.reason_slug == '_final_revision_' ? ' final' : '' %}
        <div data-revision="{{ revision.ID }}" class="{{ rev_class }}{{ rev_class_final }}">

            {{ do_action('gmce_revisionsbox_revision_start', revision, post ) }}

            <div id="gmce_revision_fixed_{{ revision.ID }}" class="gmce_revision_fixed_btn">
                {% if ( revision.can_fix and not revision.get_fixed ) or user.is_admin %}
                    <input type="checkbox"{% if revision.get_fixed %} checked="checked"{% endif %}
                           name="gmce_fixed" id="gmce_fixed_{{ revision.ID }}" value="{{ revision.ID }}" />
                    <label for="gmce_fixed_{{ revision.ID }}">
                        {{ fixed }}
                        {% if not revision.get_fixed %}?{% endif %}
                    </label>
                {% elseif revision.get_fixed %}{{ fixed }}{% endif %}
            </div>

            {{ do_action('gmce_revisionsbox_revision_before_reason', revision, post ) }}

            <h4 class="gmce_revision_reason">
                {% if revision.reason_slug != '_final_revision_' %}
                    {{ revision.reason|raw }}
                {% else %}
                    {{ final_rev_title }}
                {% endif %}
            </h4>

            {{ do_action('gmce_revisionsbox_revision_after_reason', revision, post ) }}

            <div class="gmce_revision_content">{{ revision.content|raw }}</div>

            {{ do_action('gmce_revisionsbox_revision_after_content', revision, post ) }}

            {% include "Revisions/Revision_Meta.twig" %}

            {{ do_action('gmce_revisionsbox_revision_after_meta', revision, post ) }}

            {% include "Revisions/Revision_Actions.twig" %}

            {{ do_action('gmce_revisionsbox_revision_after_actions', revision, post ) }}

            {% if revision.reason_slug != '_final_revision_' %}
                {% include "Revisions/Revision_Thumbs.twig" %}
            {% endif %}

            {{ do_action('gmce_revisionsbox_revision_end', revision, post ) }}

        </div>
