<div class="gmce_action_confirm" id="gmce_confirm_{{ revision.ID }}" data-id="{{ revision.ID }}" data-author="{{ revision.post_author }}" style="display:none;">

    {{ do_action('gmce_revisionsbox_revision_actions_confirm', revision, post ) }}

    <p class="gmce_action_confirm_msg"></p>
    <p class="gmce_remove_rev_yesno">
        <a href="#" data-confirm="1">{{ yes }}</a> | <a href="#" data-confirm="0">{{ no }}</a>
    </p>

    {{ do_action('gmce_revisionsbox_revision_actions_confirm_after', revision, post ) }}

</div>

<div class="gmce_revision_actions">

    {{ do_action('gmce_revisionsbox_revision_actions_start', revision, post ) }}

    {% if user.is_admin and (revision.reason_slug != '_final_revision_') %}

        {{ do_action('gmce_revisionsbox_revision_actions_admin', revision, post ) }}

        <a href="#" class="gmce_rev_delete" title="{{ delete_rev_label|raw }}">{{ delete_rev|raw }}</a>

    {% endif %}

    <a href="#" class="gmce_rev_close">{{ close_rev|raw }}</a>

    {{ do_action('gmce_revisionsbox_revision_actions_end', revision, post ) }}

</div>