<h4 class="gmce_revision_summary_title">
    {{ rev_summary }} ({{ total }}: {{ revisions|length }} /
    <span {% if unfixed_count %}class="unfixed_count"{% endif %}>{{ unfixed }}: {{ unfixed_count }}</span>)
</h4>

{{ do_action('gmce_revisionsbox_summary', revisions, reasons ) }}

<ul id="gmce_revisions_summary">
    {% for reason in reasons %}
        <li>{{ reason.name }}: <b>{{ reason.count }}</b></li>
        {% endfor %}
</ul>

{{ do_action('gmce_revisionsbox_summary_after', revisions, reasons ) }}

<h4>{{ revisions_label }}

    <span id="gmce_revisions_actions">
        <a href="#" id="gmce_rev_close_all">{{ close_all_rev }}</a>
        <a href="#" id="gmce_rev_close_fixed">{{ close_fixed_rev }}</a>

        {{ do_action('gmce_revisionsbox_summary_buttons', revisions, reasons ) }}

    </span>

</h4>