<li class="gmce_comment" data-tmstmp="{{ comment.timestamp }}">

    {{ do_action('gmce_comments_comment_start', comment, revision ) }}

    <div class="gmce_comment_content">
        {% if comment.comment_type == 'gmce_deleted' %}<em class="deleted">{{ deleted }}</em>
        {% else %}{{ comment.content|raw }}{% endif %}
    </div>

    {{ do_action('gmce_comments_comment_content', comment, revision ) }}

    <p class="gmce_comment_author_time">

        {{ do_action('gmce_comments_comment_meta_start', comment, revision ) }}

        <span class="gmce_comment_author">
            <a href="{{ comment.author_url }}" target="_blank">{{ comment.author|raw|title }}</a>
        </span> -

        {{ do_action('gmce_comments_comment_meta_author', comment, revision ) }}

        <span class="gmce_comment_time">{{ comment.time }}</span>

        {{ do_action('gmce_comments_comment_meta_time', comment, revision ) }}

        {% if user.is_admin and (comment.comment_type != 'gmce_deleted') %}
            <span class="gmce_comment_delete">
                | (<a href="#" data-comment="{{ comment.comment_ID }}">{{ delete }}</a>)
            </span>
        {% endif %}

        {{ do_action('gmce_comments_comment_meta_end', comment, revision ) }}

    </p>

    {{ do_action('gmce_comments_comment_after_meta', comment, revision ) }}

    {{ do_action('gmce_comments_comment_end', comment, revision ) }}

</li>