<div id="gmce_comments_comment_form_wrap">

    {{ do_action('gmce_comments_form_start', post, revision ) }}

    <h4><a href="#" class="gmce_leave_comment_open">{{ add_comments }}</a></h4>

    {{ do_action('gmce_comments_form_after_title', post, revision ) }}

    <div id="gmce_comments_feedback"{% if not feedback %} style="display:none;"{%endif%}>
        {{ feedback }}
    </div>

    {{ do_action('gmce_comments_form_before_form', post, revision ) }}

    <div id="gmce_comment_content_wrap" class="closed">

        {{ do_action('gmce_comments_form_div_start', post, revision ) }}

        <p><a href="#" id="gmce_leave_comment_close">{{ comment_close|raw }}</a></p>
        <form id="gmce_add_comment_form">

            {{ do_action('gmce_comments_form_form_start', post, revision ) }}

            <input type="hidden" name="gmce_post" value="{{ post.ID }}">
            <input type="hidden" name="gmce_rev" value="{{ revision.ID }}">
            <textarea name="gmce_comment" placeholder="{{ commenthere }}" rows="3" required></textarea>
            <p><input id="gmce_submit_comment" type="button" value="{{ submit_comment }}" /></p>

            {{ do_action('gmce_comments_form_form_end', post, revision ) }}

        </form>

        {{ do_action('gmce_comments_form_div_end', post, revision ) }}

    </div>

    {{ do_action('gmce_comments_form_after_form', post, revision ) }}

</div>