<div id="gmce_comments_original_show"><a href="#" class="show">{{ show_original }}</a></div>

<div id="gmce_comments_original" style="display: none">

    {{ do_action('gmce_comments_original_title', post, revision ) }}

    <h5>{{ post.title|raw|title }} <i>{{ original_by|raw }} {{ post.author|raw|title }}</i></h5>

    {{ do_action('gmce_comments_original_title_after', post, revision ) }}

    <div class="gmce_comments_original_content">{{ post.content|raw }}</div>

    {{ do_action('gmce_comments_original_content', post, revision ) }}

</div>