<div id="gmce_comments_revision">

    {{ do_action('gmce_comments_revision_start', revision, post ) }}

    <h4>{{ revision_colon|raw }}{% if revision.get_fixed %} {{ fixed }} {%endif%}</h4>

    {{ do_action('gmce_comments_revision_title', revision, post ) }}

    <div class="gmce_comments_revision_reason">{{ revision.reason|raw }}</div>

    {{ do_action('gmce_comments_revision_reason',revision, post ) }}

    <div class="gmce_comments_revision_content">{{ revision.content|raw }}</div>

    {{ do_action('gmce_comments_revision_content',revision, post ) }}

    <div class="gmce_comments_revision_meta">

        {{ do_action('gmce_comments_revision_meta_start',revision, post ) }}

        <p>
            <span class="gmce_comments_revision_author">
                <a href="{{ revision.author_url }}" target="_blank">{{ revision.author|raw|title }}</a>
            </span> -

            {{ do_action('gmce_comments_revision_meta_author',revision, post ) }}

            <span class="gmce_comments_revision_time">{{ revision.time }}</span>

            {{ do_action('gmce_comments_revision_meta_time', revision, post ) }}

        </p>

        {{ do_action('gmce_comments_revision_meta_end', revision, post ) }}

    </div>

    {{ do_action('gmce_comments_revision_after_meta', revision, post ) }}

</div>