<div id="gmce_adminbox" data-post="{{ post.ID }}">

    {{ do_action('gmce_adminbox_start') }}

    <table class="form-table">
        <tbody>

            {{ do_action('gmce_adminbox_tbody_start', post, info) }}

            <tr valign="top">

                {% include "AdminBox/Buttons.twig" %}

                {% include "AdminBox/Info.twig" %}

            </tr>

            {{ do_action('gmce_adminbox_tbody_end', post, info) }}

        </tbody>
    </table>

    {{ do_action('gmce_adminbox_end', post, info) }}

</div>