<div id="gmce_vote_box" data-post="{{ post_id }}">

    {{ do_action('gmce_box_start', post_id) }}

    <h2>
        <span id="gmce_proc_now">{{ process_now }}</span> / {{ process_limit }} {{ process_title }}
        <a href="#" title="{{ help_score|raw }}" id="gmce_score_wrap" {% if score != process_limit %}class="score_{{ score }}"{% else %}class="score_done"{% endif %}>
            {{ score_label }} <span id="gmce_score">{{ score }}</span>
        </a>
    </h2>

    {{ do_action('gmce_box_after_title', post_id) }}

    {% if is_meta_locked %}<h2> &mdash; {{ locked }} &mdash;</h2>{% endif %}

    <div id="gmce_vote_box_summary">
        <div id="gmce_vote_box_feedback"{% if not feedback %} style="display:none;"{% endif %}>
            {{ feedback|raw }}
        </div>
    </div>

    {{ do_action('gmce_box_after_summary', post_id) }}

    <div id="gmce_vote_box_votes">

        {% if not is_loked %}<form id="gmce_vote_box_form">{% endif %}

            {{ do_action('gmce_box_before_approve', post_id) }}

            {% include "Box/Approve.twig" %}

            {{ do_action('gmce_box_after_approve', post_id) }}

            {% include "Box/Deny.twig" %}

            {{ do_action('gmce_box_after_deny', post_id) }}

            {% if final %}<p class="gmce_have_final">{{ has_final }}</p>{% endif %}

            {% if not is_locked %}</form>{% endif %}
    </div>

    {% if deny_num or show_rev_link %}
        <div>
            {{ do_action('gmce_box_before_rev_link', post_id) }}
            <a href="#" data-post="{{ post_id }}" id="gmce_show_rev_link">
                {{ rev_link }} ({{ deny_num }})
            </a>
            {{ do_action('gmce_box_after_rev_link', post_id) }}
        </div>
    {% endif %}

    {{ do_action('gmce_box_end', post_id) }}

</div>