<div id="gmce_comments_wrapper" class="gmce_popup_wrapper">

    {{ do_action('gmce_comments_start', post, revision ) }}

    {% if allow_original %}

        {{ do_action('gmce_comments_before_original', post, revision ) }}

        {% include "Comments/Original.twig" %}

        {{ do_action('gmce_comments_after_original', post, revision ) }}

    {% endif %}

    {{ do_action('gmce_comments_before_revision', post, revision ) }}

    {% include "Comments/Revision.twig" %}

    {{ do_action('gmce_comments_before_form', post, revision ) }}

    {% include "Comments/Form.twig" %}

    {{ do_action('gmce_comments_after_form', post, revision ) }}

    {% if comments %}

        {{ do_action('gmce_comments_before_comments', post, revision ) }}

        <h4 class="gmce_comments_list_title">{{ comments_label }} ({{ comments|length }})</h4>
        <p id="gmce_comments_sort"><a href="#" data-order="{{ order }}">{{ order_default|raw }}</a></p>
        <ul id="gmce_comments_list">
            {% for comment in comments %}
                {% include "Comments/Comment.twig" %}
            {% endfor %}
        </ul>

        {{ do_action('gmce_comments_after_comments', post, revision ) }}

    {% else %}

        {{ do_action('gmce_comments_before_nocomments', post, revision ) }}

        <div class="gmce_comments_nocomments">
            {{ nocomments }} <a href="#" class="gmce_leave_comment_open be_the_first">{{ bethefirst }}</a>
        </div>

        {{ do_action('gmce_comments_after_nocomments', post, revision ) }}

    {% endif %}

    {{ do_action('gmce_comments_end', post, revision ) }}

</div>
