<hr>
<h3>{{ options_title }}</h3>
<table class="form-table">
    <tbody>
        <tr>
            <th scope="row">{{ thumb_votes }}</th>
            <td>
                <input name="thumb_vote_ban" id="thumb_vote_ban" value="1"{{checked}} type="checkbox">
                &nbsp;{{ label }}
            </td>
        </tr>
    </tbody>
</table>
<hr>
