<div id="gmce_revisions_box" data-post="{{ post.ID }}">

    {{ do_action('gmce_revisionsbox_start', post ) }}

    <h2>{{ community_revisions }}</h2>

    {{ do_action('gmce_revisionsbox_before_score', post ) }}

    <h3>
        <span id="gmce_proc_now">{{ process_now }}</span> / {{ process_limit }} {{ process_title }}
        <a href="#" onclick="return false;" title="{{ help_score|raw }}" id="gmce_score_wrap" {% if score != process_limit %}class="score_{{ score }}"{% else %}class="score_done"{% endif %}>
            {{ score_label }} <span id="gmce_score" data-limit="{{ process_limit }}">{{ score }}</span>
        </a>
    </h3>

    {{ do_action('gmce_revisionsbox_after_score', post ) }}

    {% if is_locked %}<h3> &mdash; {{ locked }} &mdash;</h3>{% endif %}

    <div id="gmce_revisions_feedback"{% if not feedback %} style="display:none;"{% endif %}>
        {{ feedback|raw }}
    </div>

    <h4 class="gmce_approved_title">
        {% if approved %}{{ approved_times }}{% else %}{{ no_approvers }}{% endif %}
    </h4>

    {{ do_action('gmce_revisionsbox_before_summary', post ) }}

    {% if reasons %}
        {% include "Revisions/Summary.twig" %}
    {% endif %}

    {{ do_action('gmce_revisionsbox_after_summary', post ) }}

    <div id="gmce_revisions"{% if user.is_admin %} data-isadmin="1"{% endif %}>
        {% for revision in revisions %}
            {% include "Revisions/Revision.twig" %}
            {% else %}
                <p class="gmce_no_revisions">{{ no_revisions }}</p>
                {% endfor %}
                </div>

                {{ do_action('gmce_revisionsbox_after_revisions', post ) }}

                {% if user.is_admin and is_locked %}
                    {{ do_action('gmce_revisionsbox_before_final_form', post ) }}
                    {% include "Revisions/Final.twig" %}
                    {{ do_action('gmce_revisionsbox_after_final_form', post ) }}
                {% endif %}

                {% if user.can_vote %}
                    <div>
                        {{ do_action('gmce_revisionsbox_before_vote_link', post ) }}
                        <a href="#" data-post="{{ post.ID }}" id="gmce_show_vote_link">{{ show_vote_box }}</a>
                        {{ do_action('gmce_revisionsbox_after_vote_link', post ) }}
                    </div>
                {% endif %}

                {{ do_action('gmce_revisionsbox_end', post ) }}

            </div>