<h2>{{ strings.thumbs.summary_title }}</h2>
<p>{{ strings.revision_to_post|format(post, post_author)|raw }}</p>
<p>{{ strings.revision_author_time|format(rev_author, revision.time)|raw }}</p>
<p>{{ strings.revision_reason }} {{ revision.reason }}</p>
{% set uppers = revision.get_thumb_uppers ? : [] %}
    {% set downers = revision.get_thumb_downers ? : [] %}
        <p><strong>{{ strings.thumbs.votes_summary|format(uppers|length, downers|length, revision.get_thumb_score ) }}</strong></p>
        {% if uppers %}
            <p><strong>{{ strings.thumbs.upvoters }}</strong> {{ uppers|join(', ')|raw }}</p>
        {% endif %}
        {% if user.is_admin and downers %}
            <p><strong>{{ strings.thumbs.downvoters }}</strong> {{ downers|join(', ')|raw }}</p>
        {% endif %}