<li class="gmce_approver">

    {{ do_action('gmce_box_approver_start', approver) }}

    <div class="gmce_approver_actions">
        {{ do_action('gmce_box_before_approver_actions', approver) }}
        <a href="#" class="gmce_approve_delete" title="{{ delete_approve_label|raw }}">{{ delete_approve|raw }}</a>

        {{ do_action('gmce_box_after_approver_actions', approver) }}
    </div>
    <span class="gmce_approver_link">{{ approver|raw }}</span>

    {{ do_action('gmce_box_approver_end', approver) }}

</li>