<div id="gmce_vote_box_approve">

    {{ do_action('gmce_box_approve_start', post_id) }}

    {% if can_approve and can_deny and not is_loked %}

        {{ do_action('gmce_box_approve_before_btn', post_id) }}

        <p class="gmce_vote_box_btn">
            <input type="button"{{ approve_btn.disabled }} class="{{ approve_btn.class }}"
                   id="gmce_approve_btn_{{ post_id }}" data-post="{{ post_id }}"
                   value="{{ approve_btn.label|raw }} ({{ approve_num }})"
                   />
        </p>

        {{ do_action('gmce_box_approve_after_btn', post_id) }}

    {% endif %}

    {{ do_action('gmce_box_approve_before_approvers', post_id) }}

    {% if is_admin %}

        <p>{{ approvers_label|raw }}</p>

        <ul id="gmce_approvers_list" style="display:none;">
            {% for approver in approvers %}
                {% include "Box/Approver.twig" %}
            {% endfor %}
        </ul>

        <div class="gmce_action_confirm" id="gmce_remove_approval_confirm" style="display:none;">
            <p class="gmce_action_confirm_msg"></p>
            <p class="gmce_remove_approval_yesno">
                <a href="#" data-confirm="1">{{ yes }}</a> | <a href="#" data-confirm="0">{{ no }}</a>
            </p>
        </div>

    {% else %}

        <p class="gmce_approve_approvers">{{ approvers|raw }}</p>

    {% endif %}

    {{ do_action('gmce_box_approve_after_approvers', post_id) }}

    {{ do_action('gmce_box_approve_end', post_id) }}

</div>