<div id="gmce_vote_box_deny">

    {{ do_action('gmce_box_deny_start', approver) }}

    {% if can_deny and not is_loked %}

        {{ do_action('gmce_box_deny_before_title', post_id) }}

        <div id="gmce_vote_box_deny_title">
            <h3>{{ deny_btn.label|raw }} ({{ comm_revs }})</h3>
            <p>Select a reason and leave a comment.</p>
        </div>

        {{ do_action('gmce_box_deny_after_title', post_id) }}

        <ul class="gmce_approve_reasons">
            {% for reason in reasons %}
                {% include "Box/Reason.twig" %}
            {% endfor %}
        </ul>

        {{ do_action('gmce_box_deny_after_reasons', post_id) }}

        <div id="gmce_vote_box_deny_wrap" style="display:none;">
            <p id="gmce_vote_box_deny_comment" class="deny_comment_wrap">
                <textarea placeholder="{{ comment_placeholder|raw }}" name="gmce_deny_reason_content" rows="10"></textarea>
            </p>
            {{ do_action('gmce_box_deny_after_textarea', post_id) }}
            <p align="right">
                <input type="button"{{ deny_btn.disabled }} class="{{ deny_btn.class }}"
                       id="gmce_deny_btn_{{ post_id }}" data-post="{{ post_id }}"
                       value="{{ deny_btn.label|raw }}" />
            </p>
            {{ do_action('gmce_box_deny_after_button', post_id) }}
        </div>

        {{ do_action('gmce_box_deny_after_form', post_id) }}

    {% endif %}

    {{ do_action('gmce_box_before_denyers', denyers, post_id) }}

    <p class="gmce_approve_denyers">{{ denyers|raw }}</p>

    {{ do_action('gmce_box_after_denyers', denyers, post_id) }}

    {{ do_action('gmce_box_deny_end', post_id) }}

</div>