<li style="list-style:none;">

    {{ do_action('gmce_box_deny_before_reason', reason.sanitized, reason.count, post_id) }}

    <label for="gmce_deny_reason_{{ reason.sanitized }}">
        <input type="radio" id="gmce_deny_reason_{{ reason.sanitized }}"
               value="{{ reason.slug }}" name="gmce_deny_reason"
               />
        {{ reason.name|raw }} <span class="count">({{ reason.count }})</span>
        {{ do_action('gmce_box_deny_after_reason_radio', reason.sanitized, reason.count, post_id) }}
    </label><br />

    {{ do_action('gmce_box_deny_after_reason', reason.sanitized, reason.count, post_id) }}

    <small class="gmce_box_radio_desc">{{ reason.desc|raw }}</small>

    {{ do_action('gmce_box_deny_after_reason_desc', reason.sanitized, reason.count, post_id) }}

</li>