<td>

    {{ do_action('gmce_adminbox_actions_start', info, post) }}

    <h2 style="margin-top:0; padding-top: 0;">{{ strings.backend.actions }}</h2>

    {{ do_action('gmce_adminbox_actions_after_title', info, post) }}

    <p>
        <input{% if not info.approvers %} disabled="disabled"{% endif %} id="clean_up_approvals" class="button button-primary button-large" value="{{ strings.backend.clear_approvals }}" type="button">
    </p>
    <p>
        <input{% if not info.denyers %} disabled="disabled"{% endif %} id="clean_up_revisions" class="button button-primary button-large" value="{{ strings.backend.clear_revisions }}" type="button">
    </p>
    <p>
        <input{% if not info.approvers and not info.denyers %} disabled="disabled"{% endif %} id="clean_up_all" class="button button-primary button-large" value="{{ strings.backend.clear_all }}" type="button">
    </p>

    {{ do_action('gmce_adminbox_actions_end', info, post) }}

</td>
