<td>

    {{ do_action('gmce_adminbox_info_start') }}

    <h2 style="margin-top:0; padding-top: 0;">{{ strings.backend.info }}</h2>

    {{ do_action('gmce_adminbox_info_after_title', info, post) }}

    <ul>
        <li><b>{{ process_progress }}</b></li>
        <li>{{ strings.backend.approvals }}: <b>{{ info.approved }}</b></li>
        <li>{{ strings.backend.revisions }}: <b>{{ info.denied }}</b></li>
        <li>{{ strings.backend.finals }}: <b>{{ info.final }}</b></li>
        <li>{{ strings.backend.unfixed }}: <b>{{ info.unfixed }}</b></li>
        <li>{{ strings.backend.score }}: <b>{{ info.score }}</b></li>
        <li>
            {{ strings.backend.is_locked }}:
            <b>{% if info.locked %}{{ strings.yes }}{% else %}{{ strings.no }}{% endif %}</b>
        </li>
        <li>
            {% if info.approvers %} {{ strings.backend.approvers }}:
                <b>{{ info.approvers|join(', ')|raw }}</b>
            {% else %} <b>{{ strings.no_approvers }}</b> {% endif %}
        </li>
        <li>
            {% if info.denyers %} {{ strings.backend.revisers }}:
                <b>{{ info.denyers|join(', ')|raw }}</b>
            {% else %} <b>{{ strings.no_denyers }}</b> {% endif %}
        </li>

        {{ do_action('gmce_adminbox_info_list', info, post) }}

    </ul>

    {{ do_action('gmce_adminbox_info_end', info, post) }}

</td>