/* ALL */
#gmce_vote_box,
#gmce_revisions_box,
#gmce_comments_wrapper {
  width: 100%;
  padding: 10px 0;
  margin: 0 0 36px 0;
  font-size: 14px;
  line-height: 1em;
  background-color: #ffffff;
  color: #444444;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#gmce_vote_box *,
#gmce_revisions_box *,
#gmce_comments_wrapper * {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  color: #444444;
  text-decoration: none;
  text-transform: none;
  text-shadow: none;
  background: none;
}
#gmce_vote_box ul,
#gmce_revisions_box ul,
#gmce_comments_wrapper ul {
  list-style: none;
}
#gmce_vote_box small,
#gmce_revisions_box small,
#gmce_comments_wrapper small {
  font-size: 10px;
}
#gmce_vote_box h2,
#gmce_revisions_box h2,
#gmce_comments_wrapper h2,
#gmce_vote_box h3,
#gmce_revisions_box h3,
#gmce_comments_wrapper h3,
#gmce_vote_box h4,
#gmce_revisions_box h4,
#gmce_comments_wrapper h4 {
  padding-top: 10px;
  margin: 10px 0;
  text-align: center;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
#gmce_vote_box h2,
#gmce_revisions_box h2,
#gmce_comments_wrapper h2 {
  font-size: 1.2em;
}
#gmce_vote_box h3,
#gmce_revisions_box h3,
#gmce_comments_wrapper h3 {
  font-size: 1.1em;
}
#gmce_vote_box h4,
#gmce_revisions_box h4,
#gmce_comments_wrapper h4 {
  font-size: 1em;
  font-weight: bold;
  font-variant-caps: small-caps;
}
#gmce_vote_box input[type="checkbox"],
#gmce_revisions_box input[type="checkbox"],
#gmce_comments_wrapper input[type="checkbox"],
#gmce_vote_box input[type="radio"],
#gmce_revisions_box input[type="radio"],
#gmce_comments_wrapper input[type="radio"],
#gmce_vote_box input[type="button"],
#gmce_revisions_box input[type="button"],
#gmce_comments_wrapper input[type="button"],
#gmce_vote_box input[type="submit"],
#gmce_revisions_box input[type="submit"],
#gmce_comments_wrapper input[type="submit"] {
  cursor: pointer;
}
#gmce_admin_votebox .inside #gmce_vote_box {
  background-color: transparent!important;
  background: none!important;
  padding: 0!important;
}
/* Votes */
#gmce_vote_box h2 {
  margin-bottom: 20px;
  display: block;
}
#gmce_vote_box h2 #gmce_score_wrap {
  font-size: 0.85em!important;
  margin-left: 10px;
  padding: 4px 6px;
  color: #ffffff;
  font-weight: normal;
  cursor: help;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #cc0000;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #b30000), color-stop(1, #cc0000));
  background: -ms-linear-gradient(bottom, #b30000, #cc0000);
  background: -moz-linear-gradient(center bottom, #b30000 0%, #cc0000 100%);
  background: -o-linear-gradient(#cc0000, #b30000);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cc0000', endColorstr='#b30000', GradientType=0);
}
#gmce_vote_box h2 #gmce_score_wrap.score_done {
  background: none;
  background: #009900;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #008000), color-stop(1, #009900));
  background: -ms-linear-gradient(bottom, #008000, #009900);
  background: -moz-linear-gradient(center bottom, #008000 0%, #009900 100%);
  background: -o-linear-gradient(#009900, #008000);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#009900', endColorstr='#008000', GradientType=0);
}
#gmce_vote_box h2 #gmce_score_wrap #gmce_score {
  color: #ffffff;
  font-weight: bold;
}
#gmce_vote_box #gmce_vote_box_summary #gmce_vote_box_feedback {
  margin: 10px;
  padding: 10px;
  background-color: #ffffff;
  text-align: center;
  font-weight: bold;
}
#gmce_vote_box #gmce_vote_box_summary #gmce_vote_box_feedback .already_revised_msg {
  text-align: left;
  font-size: 0.8em;
  margin-top: 6px;
}
#gmce_vote_box #gmce_vote_box_summary #gmce_vote_box_feedback .marked_fixed {
  text-align: left;
  font-size: 0.8em;
  margin-top: 6px;
}
#gmce_vote_box #gmce_vote_box_summary #gmce_vote_box_feedback.success {
  color: #006600;
}
#gmce_vote_box #gmce_vote_box_summary #gmce_vote_box_feedback.error {
  color: #990000;
}
#gmce_vote_box #gmce_vote_box_votes #gmce_vote_box_approve {
  padding: 10px;
}
#gmce_vote_box #gmce_vote_box_votes #gmce_vote_box_approve input[type='button'] {
  width: 100%;
  font-size: 1.1em;
  text-align: center;
  color: #ffffff;
  padding: 8px;
  margin: 0;
  background: none;
  outline: none;
  border: none;
  box-shadow: none;
  border-top: solid 1px #008a00;
  border-left: solid 1px #008a00;
  border-right: solid 1px #008a00;
  border-bottom: solid 1px #008000;
  background: #009900;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #008000), color-stop(1, #009900));
  background: -ms-linear-gradient(bottom, #008000, #009900);
  background: -moz-linear-gradient(center bottom, #008000 0%, #009900 100%);
  background: -o-linear-gradient(#009900, #008000);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#009900', endColorstr='#008000', GradientType=0);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
#gmce_vote_box #gmce_vote_box_votes #gmce_vote_box_approve input[type='button']:hover {
  text-decoration: none;
  border-top: solid 1px #008000;
  border-left: solid 1px #008000;
  border-right: solid 1px #008000;
  border-bottom: solid 1px #006600;
  background: #008a00;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #006600), color-stop(1, #008a00));
  background: -ms-linear-gradient(bottom, #006600, #008a00);
  background: -moz-linear-gradient(center bottom, #006600 0%, #008a00 100%);
  background: -o-linear-gradient(#008a00, #006600);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#008a00', endColorstr='#006600', GradientType=0);
}
#gmce_vote_box #gmce_vote_box_votes #gmce_vote_box_approve input[type='button'].disabled {
  background-color: #999999 !important;
  cursor: not-allowed;
}
#gmce_vote_box #gmce_vote_box_votes #gmce_vote_box_approve p {
  margin: 4px 0 0 0;
  padding: 8px;
}
#gmce_vote_box #gmce_vote_box_votes #gmce_vote_box_approve p.gmce_approve_approvers {
  margin-top: 4px;
  border-top: 1px solid #e4e4e4;
}
#gmce_vote_box #gmce_vote_box_votes #gmce_vote_box_approve ul {
  float: none;
  margin-bottom: 24px;
}
#gmce_vote_box #gmce_vote_box_votes #gmce_vote_box_approve ul li.gmce_approver {
  margin: 6px 0 6px 10px;
}
#gmce_vote_box #gmce_vote_box_votes #gmce_vote_box_approve ul li.gmce_approver div.gmce_approver_actions a {
  float: left;
  display: block;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  line-height: 14px;
  margin: 0 2px 0 0;
  width: 14px;
  height: 14px;
  color: #ffffff;
}
#gmce_vote_box #gmce_vote_box_votes #gmce_vote_box_approve ul li.gmce_approver div.gmce_approver_actions a:hover {
  text-decoration: none;
}
#gmce_vote_box #gmce_vote_box_votes #gmce_vote_box_approve ul li.gmce_approver div.gmce_approver_actions a.gmce_approve_delete {
  background: none;
  outline: none;
  border: none;
  box-shadow: none;
  border-top: solid 1px #ff3d3d;
  border-left: solid 1px #ff3d3d;
  border-right: solid 1px #ff3d3d;
  border-bottom: solid 1px #ff3333;
  background: #ff4d4d;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ff3333), color-stop(1, #ff4d4d));
  background: -ms-linear-gradient(bottom, #ff3333, #ff4d4d);
  background: -moz-linear-gradient(center bottom, #ff3333 0%, #ff4d4d 100%);
  background: -o-linear-gradient(#ff4d4d, #ff3333);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4d4d', endColorstr='#ff3333', GradientType=0);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
#gmce_vote_box #gmce_vote_box_votes #gmce_vote_box_approve ul li.gmce_approver div.gmce_approver_actions a.gmce_approve_delete:hover {
  text-decoration: none;
  border-top: solid 1px #ff3333;
  border-left: solid 1px #ff3333;
  border-right: solid 1px #ff3333;
  border-bottom: solid 1px #ff1a1a;
  background: #ff3d3d;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ff1a1a), color-stop(1, #ff3d3d));
  background: -ms-linear-gradient(bottom, #ff1a1a, #ff3d3d);
  background: -moz-linear-gradient(center bottom, #ff1a1a 0%, #ff3d3d 100%);
  background: -o-linear-gradient(#ff3d3d, #ff1a1a);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3d3d', endColorstr='#ff1a1a', GradientType=0);
}
#gmce_vote_box #gmce_vote_box_votes #gmce_vote_box_approve ul li.gmce_approver div.gmce_approver_actions a.gmce_approve_punish {
  background: none;
  outline: none;
  border: none;
  box-shadow: none;
  border-top: solid 1px #bd0000;
  border-left: solid 1px #bd0000;
  border-right: solid 1px #bd0000;
  border-bottom: solid 1px #b30000;
  background: #cc0000;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #b30000), color-stop(1, #cc0000));
  background: -ms-linear-gradient(bottom, #b30000, #cc0000);
  background: -moz-linear-gradient(center bottom, #b30000 0%, #cc0000 100%);
  background: -o-linear-gradient(#cc0000, #b30000);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cc0000', endColorstr='#b30000', GradientType=0);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
#gmce_vote_box #gmce_vote_box_votes #gmce_vote_box_approve ul li.gmce_approver div.gmce_approver_actions a.gmce_approve_punish:hover {
  text-decoration: none;
  border-top: solid 1px #b30000;
  border-left: solid 1px #b30000;
  border-right: solid 1px #b30000;
  border-bottom: solid 1px #990000;
  background: #bd0000;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #990000), color-stop(1, #bd0000));
  background: -ms-linear-gradient(bottom, #990000, #bd0000);
  background: -moz-linear-gradient(center bottom, #990000 0%, #bd0000 100%);
  background: -o-linear-gradient(#bd0000, #990000);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bd0000', endColorstr='#990000', GradientType=0);
}
#gmce_vote_box #gmce_vote_box_votes #gmce_vote_box_approve ul li.gmce_approver span.gmce_approver_link {
  margin-left: 6px;
}
#gmce_vote_box #gmce_vote_box_votes #gmce_vote_box_approve .gmce_action_confirm {
  background: none;
  outline: none;
  border: none;
  box-shadow: none;
  border-top: solid 1px #bd0000;
  border-left: solid 1px #bd0000;
  border-right: solid 1px #bd0000;
  border-bottom: solid 1px #b30000;
  background: #cc0000;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #b30000), color-stop(1, #cc0000));
  background: -ms-linear-gradient(bottom, #b30000, #cc0000);
  background: -moz-linear-gradient(center bottom, #b30000 0%, #cc0000 100%);
  background: -o-linear-gradient(#cc0000, #b30000);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cc0000', endColorstr='#b30000', GradientType=0);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin: 12px 8px 24px;
}
#gmce_vote_box #gmce_vote_box_votes #gmce_vote_box_approve .gmce_action_confirm:hover {
  text-decoration: none;
  border-top: solid 1px #b30000;
  border-left: solid 1px #b30000;
  border-right: solid 1px #b30000;
  border-bottom: solid 1px #990000;
  background: #bd0000;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #990000), color-stop(1, #bd0000));
  background: -ms-linear-gradient(bottom, #990000, #bd0000);
  background: -moz-linear-gradient(center bottom, #990000 0%, #bd0000 100%);
  background: -o-linear-gradient(#bd0000, #990000);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bd0000', endColorstr='#990000', GradientType=0);
}
#gmce_vote_box #gmce_vote_box_votes #gmce_vote_box_approve .gmce_action_confirm p {
  color: #ffffff;
  margin: 0;
}
#gmce_vote_box #gmce_vote_box_votes #gmce_vote_box_approve .gmce_action_confirm p a {
  color: #ffffff;
  font-weight: bold;
}
#gmce_vote_box #gmce_vote_box_votes #gmce_vote_box_deny {
  padding: 0 10px 10px;
}
#gmce_vote_box #gmce_vote_box_votes #gmce_vote_box_deny #gmce_vote_box_deny_title {
  margin: 5px 0 0 0;
  padding: 0;
}
#gmce_vote_box #gmce_vote_box_votes #gmce_vote_box_deny #gmce_vote_box_deny_title h3 {
  font-size: 1.1em;
  text-align: center;
  color: #990000;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
#gmce_vote_box #gmce_vote_box_votes #gmce_vote_box_deny #gmce_vote_box_deny_title p {
  text-align: center;
  font-style: italic;
  font-size: 0.8em;
}
#gmce_vote_box #gmce_vote_box_votes #gmce_vote_box_deny input[type='button'].gmce_deny_btn {
  background: none;
  outline: none;
  border: none;
  box-shadow: none;
  border-top: solid 1px #bd0000;
  border-left: solid 1px #bd0000;
  border-right: solid 1px #bd0000;
  border-bottom: solid 1px #b30000;
  background: #cc0000;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #b30000), color-stop(1, #cc0000));
  background: -ms-linear-gradient(bottom, #b30000, #cc0000);
  background: -moz-linear-gradient(center bottom, #b30000 0%, #cc0000 100%);
  background: -o-linear-gradient(#cc0000, #b30000);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cc0000', endColorstr='#b30000', GradientType=0);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  padding: 4px 8px;
  color: #ffffff;
  font-size: 0.9em;
  font-weight: bold;
  margin: 0;
}
#gmce_vote_box #gmce_vote_box_votes #gmce_vote_box_deny input[type='button'].gmce_deny_btn:hover {
  text-decoration: none;
  border-top: solid 1px #b30000;
  border-left: solid 1px #b30000;
  border-right: solid 1px #b30000;
  border-bottom: solid 1px #990000;
  background: #bd0000;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #990000), color-stop(1, #bd0000));
  background: -ms-linear-gradient(bottom, #990000, #bd0000);
  background: -moz-linear-gradient(center bottom, #990000 0%, #bd0000 100%);
  background: -o-linear-gradient(#bd0000, #990000);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bd0000', endColorstr='#990000', GradientType=0);
}
#gmce_vote_box #gmce_vote_box_votes #gmce_vote_box_deny input[type='button']:hover {
  background-color: #990000;
}
#gmce_vote_box #gmce_vote_box_votes #gmce_vote_box_deny textarea {
  background-color: #ffffff;
  border: 1px solid #e4e4e4;
  padding: 4px;
  width: 100%;
  min-height: 5em;
  margin: 4px 0;
  font-size: 11px;
}
#gmce_vote_box #gmce_vote_box_votes #gmce_vote_box_deny ul {
  margin: 0 0 10px 0;
  padding: 0;
}
#gmce_vote_box #gmce_vote_box_votes #gmce_vote_box_deny ul li {
  margin: 8px 0 0 0;
  padding: 0;
}
#gmce_vote_box #gmce_vote_box_votes #gmce_vote_box_deny ul li small {
  font-style: italic;
}
#gmce_vote_box #gmce_vote_box_votes #gmce_vote_box_deny ul li label {
  font-size: 12px;
}
#gmce_vote_box #gmce_vote_box_votes #gmce_vote_box_deny ul li span.count {
  font-weight: bold;
}
#gmce_vote_box #gmce_vote_box_votes #gmce_vote_box_deny p {
  margin: 4px 0 0 0;
}
#gmce_vote_box #gmce_vote_box_votes #gmce_vote_box_deny p.deny_comment_wrap small.reason_comment_desc {
  font-size: 10px;
  font-weight: bold;
}
#gmce_vote_box #gmce_vote_box_votes #gmce_vote_box_deny p.gmce_approve_denyers {
  padding: 8px;
  border-top: 1px solid #e4e4e4;
}
#gmce_vote_box #gmce_vote_box_votes .gmce_have_final {
  margin: 4px 10px;
  padding: 8px;
  border-top: 1px solid #e4e4e4;
}
#gmce_vote_box div a#gmce_show_rev_link {
  display: block;
  margin: 12px;
  padding: 8px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  background: none;
  outline: none;
  border: none;
  box-shadow: none;
  border-top: solid 1px #f7f7f7;
  border-left: solid 1px #f7f7f7;
  border-right: solid 1px #f7f7f7;
  border-bottom: solid 1px #f2f2f2;
  background: #ffffff;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #f2f2f2), color-stop(1, #ffffff));
  background: -ms-linear-gradient(bottom, #f2f2f2, #ffffff);
  background: -moz-linear-gradient(center bottom, #f2f2f2 0%, #ffffff 100%);
  background: -o-linear-gradient(#ffffff, #f2f2f2);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f2f2f2', GradientType=0);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
#gmce_vote_box div a#gmce_show_rev_link:hover {
  text-decoration: none;
  border-top: solid 1px #f2f2f2;
  border-left: solid 1px #f2f2f2;
  border-right: solid 1px #f2f2f2;
  border-bottom: solid 1px #e6e6e6;
  background: #f7f7f7;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #e6e6e6), color-stop(1, #f7f7f7));
  background: -ms-linear-gradient(bottom, #e6e6e6, #f7f7f7);
  background: -moz-linear-gradient(center bottom, #e6e6e6 0%, #f7f7f7 100%);
  background: -o-linear-gradient(#f7f7f7, #e6e6e6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#e6e6e6', GradientType=0);
}
/* Revisions */
#gmce_revisions_box h2 {
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 0;
}
#gmce_revisions_box h3 {
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  margin: 4px 0 20px;
  color: #444444;
}
#gmce_revisions_box h3 #gmce_score_wrap {
  margin-left: 10px;
  padding: 4px 6px;
  color: #ffffff;
  font-weight: normal;
  cursor: help;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #cc0000;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #b30000), color-stop(1, #cc0000));
  background: -ms-linear-gradient(bottom, #b30000, #cc0000);
  background: -moz-linear-gradient(center bottom, #b30000 0%, #cc0000 100%);
  background: -o-linear-gradient(#cc0000, #b30000);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cc0000', endColorstr='#b30000', GradientType=0);
}
#gmce_revisions_box h3 #gmce_score_wrap.score_done {
  background: none;
  background: #009900;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #008000), color-stop(1, #009900));
  background: -ms-linear-gradient(bottom, #008000, #009900);
  background: -moz-linear-gradient(center bottom, #008000 0%, #009900 100%);
  background: -o-linear-gradient(#009900, #008000);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#009900', endColorstr='#008000', GradientType=0);
}
#gmce_revisions_box h3 #gmce_score_wrap #gmce_score {
  color: #ffffff;
  font-weight: bold;
}
#gmce_revisions_box h4 {
  font-weight: normal;
}
#gmce_revisions_box h4.gmce_approved_title {
  font-size: 0.8em;
  text-align: left;
  padding: 0 7px;
  margin: 20px 5px 4px;
}
#gmce_revisions_box h4.gmce_revision_summary_title {
  font-size: 0.8em;
  text-align: left;
  padding: 0 7px;
  margin: 10px 5px 4px;
}
#gmce_revisions_box h4.gmce_revision_summary_title .unfixed_count {
  color: #cc0000;
  font-weight: bold;
}
#gmce_revisions_box h4 #gmce_revisions_actions {
  text-align: right;
  margin-left: 20px;
}
#gmce_revisions_box h4 #gmce_revisions_actions a {
  font-size: 0.7em;
  text-decoration: none;
  margin-left: 4px;
  padding: 0 3px;
  background: none;
  outline: none;
  border: none;
  box-shadow: none;
  border-top: solid 1px #dcdcdc;
  border-left: solid 1px #dcdcdc;
  border-right: solid 1px #dcdcdc;
  border-bottom: solid 1px #d7d7d7;
  background: #e4e4e4;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #d7d7d7), color-stop(1, #e4e4e4));
  background: -ms-linear-gradient(bottom, #d7d7d7, #e4e4e4);
  background: -moz-linear-gradient(center bottom, #d7d7d7 0%, #e4e4e4 100%);
  background: -o-linear-gradient(#e4e4e4, #d7d7d7);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e4e4e4', endColorstr='#d7d7d7', GradientType=0);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
#gmce_revisions_box h4 #gmce_revisions_actions a:hover {
  text-decoration: none;
}
#gmce_revisions_box h4 #gmce_revisions_actions a:hover {
  text-decoration: none;
  border-top: solid 1px #d7d7d7;
  border-left: solid 1px #d7d7d7;
  border-right: solid 1px #d7d7d7;
  border-bottom: solid 1px #cbcbcb;
  background: #dcdcdc;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #cbcbcb), color-stop(1, #dcdcdc));
  background: -ms-linear-gradient(bottom, #cbcbcb, #dcdcdc);
  background: -moz-linear-gradient(center bottom, #cbcbcb 0%, #dcdcdc 100%);
  background: -o-linear-gradient(#dcdcdc, #cbcbcb);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dcdcdc', endColorstr='#cbcbcb', GradientType=0);
}
#gmce_revisions_box ul#gmce_revisions_summary {
  display: block;
  padding: 5px;
  font-size: 0.66em;
  line-height: 1em;
  background-color: #ffffff;
  margin: 0 5px 10px;
}
#gmce_revisions_box ul#gmce_revisions_summary li {
  margin: 2px 0 2px 10px;
  list-style: disc;
  list-style-position: inside;
}
#gmce_revisions_box ul#gmce_revisions_summary li b {
  font-weight: bold;
}
#gmce_revisions_box #gmce_revisions {
  margin: 8px 0;
}
#gmce_revisions_box #gmce_revisions .gmce_revision {
  padding: 8px 8px 28px 9px;
  margin: 0 5px 12px;
  background-color: #ffffff;
  border: 1px solid #e4e4e4;
  position: relative;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#gmce_revisions_box #gmce_revisions .gmce_revision.fixed {
  background-color: #f9f9f9 !important;
}
#gmce_revisions_box #gmce_revisions .gmce_revision.fixed h4.gmce_revision_reason {
  color: #999999 !important;
}
#gmce_revisions_box #gmce_revisions .gmce_revision.fixed .gmce_revision_content {
  color: #999999 !important;
}
#gmce_revisions_box #gmce_revisions .gmce_revision.final {
  border-color: #ff9999 !important;
}
#gmce_revisions_box #gmce_revisions .gmce_revision .gmce_revision_actions {
  position: absolute;
  bottom: 8px;
  right: 4px;
  width: 200px;
  height: 14px;
}
#gmce_revisions_box #gmce_revisions .gmce_revision .gmce_revision_actions a {
  display: block;
  float: right;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  line-height: 14px;
  margin: 0 4px 0 0;
  width: 14px;
  height: 14px;
  color: #ffffff;
}
#gmce_revisions_box #gmce_revisions .gmce_revision .gmce_revision_actions a:hover {
  text-decoration: none;
}
#gmce_revisions_box #gmce_revisions .gmce_revision .gmce_revision_actions a.gmce_rev_close {
  background: none;
  outline: none;
  border: none;
  box-shadow: none;
  border-top: solid 1px #a7a7a7;
  border-left: solid 1px #a7a7a7;
  border-right: solid 1px #a7a7a7;
  border-bottom: solid 1px #a2a2a2;
  background: #afafaf;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #a2a2a2), color-stop(1, #afafaf));
  background: -ms-linear-gradient(bottom, #a2a2a2, #afafaf);
  background: -moz-linear-gradient(center bottom, #a2a2a2 0%, #afafaf 100%);
  background: -o-linear-gradient(#afafaf, #a2a2a2);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#afafaf', endColorstr='#a2a2a2', GradientType=0);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
#gmce_revisions_box #gmce_revisions .gmce_revision .gmce_revision_actions a.gmce_rev_close:hover {
  text-decoration: none;
  border-top: solid 1px #a2a2a2;
  border-left: solid 1px #a2a2a2;
  border-right: solid 1px #a2a2a2;
  border-bottom: solid 1px #969696;
  background: #a7a7a7;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #969696), color-stop(1, #a7a7a7));
  background: -ms-linear-gradient(bottom, #969696, #a7a7a7);
  background: -moz-linear-gradient(center bottom, #969696 0%, #a7a7a7 100%);
  background: -o-linear-gradient(#a7a7a7, #969696);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a7a7a7', endColorstr='#969696', GradientType=0);
}
#gmce_revisions_box #gmce_revisions .gmce_revision .gmce_revision_actions a.gmce_rev_delete {
  background: none;
  outline: none;
  border: none;
  box-shadow: none;
  border-top: solid 1px #ff3d3d;
  border-left: solid 1px #ff3d3d;
  border-right: solid 1px #ff3d3d;
  border-bottom: solid 1px #ff3333;
  background: #ff4d4d;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ff3333), color-stop(1, #ff4d4d));
  background: -ms-linear-gradient(bottom, #ff3333, #ff4d4d);
  background: -moz-linear-gradient(center bottom, #ff3333 0%, #ff4d4d 100%);
  background: -o-linear-gradient(#ff4d4d, #ff3333);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4d4d', endColorstr='#ff3333', GradientType=0);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
#gmce_revisions_box #gmce_revisions .gmce_revision .gmce_revision_actions a.gmce_rev_delete:hover {
  text-decoration: none;
  border-top: solid 1px #ff3333;
  border-left: solid 1px #ff3333;
  border-right: solid 1px #ff3333;
  border-bottom: solid 1px #ff1a1a;
  background: #ff3d3d;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ff1a1a), color-stop(1, #ff3d3d));
  background: -ms-linear-gradient(bottom, #ff1a1a, #ff3d3d);
  background: -moz-linear-gradient(center bottom, #ff1a1a 0%, #ff3d3d 100%);
  background: -o-linear-gradient(#ff3d3d, #ff1a1a);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3d3d', endColorstr='#ff1a1a', GradientType=0);
}
#gmce_revisions_box #gmce_revisions .gmce_revision .gmce_revision_actions a.gmce_rev_punish {
  background: none;
  outline: none;
  border: none;
  box-shadow: none;
  border-top: solid 1px #bd0000;
  border-left: solid 1px #bd0000;
  border-right: solid 1px #bd0000;
  border-bottom: solid 1px #b30000;
  background: #cc0000;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #b30000), color-stop(1, #cc0000));
  background: -ms-linear-gradient(bottom, #b30000, #cc0000);
  background: -moz-linear-gradient(center bottom, #b30000 0%, #cc0000 100%);
  background: -o-linear-gradient(#cc0000, #b30000);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cc0000', endColorstr='#b30000', GradientType=0);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
#gmce_revisions_box #gmce_revisions .gmce_revision .gmce_revision_actions a.gmce_rev_punish:hover {
  text-decoration: none;
  border-top: solid 1px #b30000;
  border-left: solid 1px #b30000;
  border-right: solid 1px #b30000;
  border-bottom: solid 1px #990000;
  background: #bd0000;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #990000), color-stop(1, #bd0000));
  background: -ms-linear-gradient(bottom, #990000, #bd0000);
  background: -moz-linear-gradient(center bottom, #990000 0%, #bd0000 100%);
  background: -o-linear-gradient(#bd0000, #990000);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bd0000', endColorstr='#990000', GradientType=0);
}
#gmce_revisions_box #gmce_revisions .gmce_revision .gmce_action_confirm {
  padding: 8px;
  background: none;
  outline: none;
  border: none;
  box-shadow: none;
  border-top: solid 1px #bd0000;
  border-left: solid 1px #bd0000;
  border-right: solid 1px #bd0000;
  border-bottom: solid 1px #b30000;
  background: #cc0000;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #b30000), color-stop(1, #cc0000));
  background: -ms-linear-gradient(bottom, #b30000, #cc0000);
  background: -moz-linear-gradient(center bottom, #b30000 0%, #cc0000 100%);
  background: -o-linear-gradient(#cc0000, #b30000);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cc0000', endColorstr='#b30000', GradientType=0);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin: 12px 8px 24px;
}
#gmce_revisions_box #gmce_revisions .gmce_revision .gmce_action_confirm:hover {
  text-decoration: none;
  border-top: solid 1px #b30000;
  border-left: solid 1px #b30000;
  border-right: solid 1px #b30000;
  border-bottom: solid 1px #990000;
  background: #bd0000;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #990000), color-stop(1, #bd0000));
  background: -ms-linear-gradient(bottom, #990000, #bd0000);
  background: -moz-linear-gradient(center bottom, #990000 0%, #bd0000 100%);
  background: -o-linear-gradient(#bd0000, #990000);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bd0000', endColorstr='#990000', GradientType=0);
}
#gmce_revisions_box #gmce_revisions .gmce_revision .gmce_action_confirm p {
  color: #ffffff;
  margin-bottom: 4px;
}
#gmce_revisions_box #gmce_revisions .gmce_revision .gmce_action_confirm p a {
  color: #ffffff;
  font-weight: bold;
}
#gmce_revisions_box #gmce_revisions .gmce_revision .gmce_revision_fixed_btn {
  text-align: right;
  font-weight: bold;
  font-size: 0.8em;
}
#gmce_revisions_box #gmce_revisions .gmce_revision .gmce_revision_fixed_btn label {
  float: right;
  font-size: 0.85em;
  margin: 0 0 0 4px;
  display: block;
}
#gmce_revisions_box #gmce_revisions .gmce_revision h4.gmce_revision_reason {
  text-align: left;
  padding: 0 4px 4px 4px;
  margin: 0;
}
#gmce_revisions_box #gmce_revisions .gmce_revision h4 .gmce_added_score {
  margin: 0;
  padding: 0;
  color: #444444;
  font-size: 0.85em;
}
#gmce_revisions_box #gmce_revisions .gmce_revision h4 .gmce_added_author {
  margin: 0;
  padding: 0;
  color: #444444;
}
#gmce_revisions_box #gmce_revisions .gmce_revision .gmce_revision_content {
  padding: 5px 5px 0 5px;
  margin: 0;
  font-size: 0.8em;
  text-align: justify;
  overflow: hidden;
}
#gmce_revisions_box #gmce_revisions .gmce_revision .gmce_revision_content p {
  padding: 3px 0;
}
#gmce_revisions_box #gmce_revisions .gmce_revision .gmce_revision_meta {
  margin: 5px 0;
}
#gmce_revisions_box #gmce_revisions .gmce_revision .gmce_revision_meta p {
  font-size: 0.7em;
  margin: 0;
}
#gmce_revisions_box #gmce_revisions .gmce_revision .gmce_revision_meta p.gmce_revision_author_time {
  text-align: right;
}
#gmce_revisions_box #gmce_revisions .gmce_revision .gmce_revision_meta p.gmce_revision_author_time span {
  color: #444444 !important;
}
#gmce_revisions_box #gmce_revisions .gmce_revision .gmce_revision_meta p .gmce_revision_author {
  font-weight: bold;
}
#gmce_revisions_box #gmce_revisions .gmce_revision .gmce_revision_meta p .gmce_revision_author a {
  text-decoration: none;
}
#gmce_revisions_box #gmce_revisions .gmce_revision .gmce_revision_meta p .gmce_revision_author a:hover {
  text-decoration: underline;
}
#gmce_revisions_box #gmce_revisions .gmce_revision .gmce_revision_meta p .gmce_revision_time {
  font-style: italic;
}
#gmce_revisions_box #gmce_revisions .gmce_revision .gmce_revision_meta p.gmce_revision_comment {
  margin-top: 4px;
  text-align: left;
}
#gmce_revisions_box #gmce_revisions .gmce_revision .gmce_revision_meta p.gmce_revision_comment a {
  color: #444444;
  text-decoration: underline;
  font-size: 1.1em;
}
#gmce_revisions_box #gmce_revisions .gmce_revision .gmce_revision_meta p.gmce_revision_comment a:hover {
  color: #000000;
}
#gmce_revisions_box #gmce_revisions .gmce_revision .gmce_revision_thumbs {
  width: 72px;
  height: 16px;
  margin-top: 15px;
}
#gmce_revisions_box #gmce_revisions .gmce_revision .gmce_revision_thumbs .thumb {
  width: 16px;
  margin-right: 8px;
  float: left;
  display: block;
}
#gmce_revisions_box #gmce_revisions .gmce_revision .gmce_revision_thumbs .thumb .icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  fill: #444444;
}
#gmce_revisions_box #gmce_revisions .gmce_revision .gmce_revision_thumbs .thumb .icon.disabled {
  fill: #999999 !important;
}
#gmce_revisions_box #gmce_revisions .gmce_revision .gmce_revision_thumbs .thumb .icon-like {
  cursor: pointer;
}
#gmce_revisions_box #gmce_revisions .gmce_revision .gmce_revision_thumbs .thumb .icon-like.voted {
  fill: #009900;
}
#gmce_revisions_box #gmce_revisions .gmce_revision .gmce_revision_thumbs .thumb .icon-like:hover {
  fill: #006600;
}
#gmce_revisions_box #gmce_revisions .gmce_revision .gmce_revision_thumbs .thumb .icon-dislike {
  cursor: pointer;
}
#gmce_revisions_box #gmce_revisions .gmce_revision .gmce_revision_thumbs .thumb .icon-dislike.voted {
  fill: #cc0000;
}
#gmce_revisions_box #gmce_revisions .gmce_revision .gmce_revision_thumbs .thumb .icon-dislike:hover {
  fill: #990000;
}
#gmce_revisions_box #gmce_revisions .gmce_revision .gmce_revision_thumbs .thumb_score {
  width: 16px;
  height: 16px;
  line-height: 16px;
  display: block;
  margin-right: 8px;
  float: left;
  font-size: 16px;
  font-weight: bold;
  color: #444444;
}
#gmce_revisions_box #gmce_revisions .gmce_revision .gmce_revision_thumbs .thumb_score.up {
  color: #006600;
}
#gmce_revisions_box #gmce_revisions .gmce_revision .gmce_revision_thumbs .thumb_score.down {
  color: #990000;
}
#gmce_revisions_box #gmce_revisions .gmce_revision .gmce_revision_thumbs_voters {
  width: 100%;
  margin-top: 6px;
  padding: 3px;
  font-size: 10px;
  font-size: normal;
}
#gmce_revisions_box #gmce_revisions .gmce_revision .gmce_revision_thumbs_voters a {
  color: #444444;
  text-decoration: underline;
}
#gmce_revisions_box #gmce_revisions .gmce_revision .gmce_revision_thumbs_voters h6 {
  font-weight: bold;
}
#gmce_revisions_box #gmce_revisions .gmce_revision .gmce_revision_thumbs_voters ul li {
  list-style: disc inside;
  line-height: 1em;
}
#gmce_revisions_box #gmce_revisions .gmce_no_revisions {
  padding: 10px;
  text-align: justify;
  font-size: 0.8em;
}
#gmce_revisions_box div a#gmce_show_vote_link {
  display: block;
  margin: 12px;
  padding: 8px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  background: none;
  outline: none;
  border: none;
  box-shadow: none;
  border-top: solid 1px #f7f7f7;
  border-left: solid 1px #f7f7f7;
  border-right: solid 1px #f7f7f7;
  border-bottom: solid 1px #f2f2f2;
  background: #ffffff;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #f2f2f2), color-stop(1, #ffffff));
  background: -ms-linear-gradient(bottom, #f2f2f2, #ffffff);
  background: -moz-linear-gradient(center bottom, #f2f2f2 0%, #ffffff 100%);
  background: -o-linear-gradient(#ffffff, #f2f2f2);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f2f2f2', GradientType=0);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
#gmce_revisions_box div a#gmce_show_vote_link:hover {
  text-decoration: none;
  border-top: solid 1px #f2f2f2;
  border-left: solid 1px #f2f2f2;
  border-right: solid 1px #f2f2f2;
  border-bottom: solid 1px #e6e6e6;
  background: #f7f7f7;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #e6e6e6), color-stop(1, #f7f7f7));
  background: -ms-linear-gradient(bottom, #e6e6e6, #f7f7f7);
  background: -moz-linear-gradient(center bottom, #e6e6e6 0%, #f7f7f7 100%);
  background: -o-linear-gradient(#f7f7f7, #e6e6e6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#e6e6e6', GradientType=0);
}
#gmce_revisions_box #gmce_revisions_feedback {
  margin: 10px;
  padding: 10px;
  background-color: #ffffff;
  text-align: center;
  font-weight: bold;
}
#gmce_revisions_box #gmce_revisions_feedback.success {
  color: #006600;
}
#gmce_revisions_box #gmce_revisions_feedback.error {
  color: #990000;
}
#gmce_revisions_box #gmce_final_revision_wrap p {
  margin: 0 8px;
}
#gmce_revisions_box #gmce_final_revision_wrap p textarea {
  background-color: #ffffff;
  border: 1px solid #e4e4e4;
  padding: 4px;
  width: 100%;
  min-height: 5em;
  margin: 4px 0;
  font-size: 11px;
}
#gmce_revisions_box #gmce_final_revision_wrap p input[type="button"].gmce_deny_btn {
  background: none;
  outline: none;
  border: none;
  box-shadow: none;
  border-top: solid 1px #bd0000;
  border-left: solid 1px #bd0000;
  border-right: solid 1px #bd0000;
  border-bottom: solid 1px #b30000;
  background: #cc0000;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #b30000), color-stop(1, #cc0000));
  background: -ms-linear-gradient(bottom, #b30000, #cc0000);
  background: -moz-linear-gradient(center bottom, #b30000 0%, #cc0000 100%);
  background: -o-linear-gradient(#cc0000, #b30000);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cc0000', endColorstr='#b30000', GradientType=0);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  padding: 4px 8px;
  color: #ffffff;
  font-size: 0.9em;
  font-weight: bold;
  margin: 0;
}
#gmce_revisions_box #gmce_final_revision_wrap p input[type="button"].gmce_deny_btn:hover {
  text-decoration: none;
  border-top: solid 1px #b30000;
  border-left: solid 1px #b30000;
  border-right: solid 1px #b30000;
  border-bottom: solid 1px #990000;
  background: #bd0000;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #990000), color-stop(1, #bd0000));
  background: -ms-linear-gradient(bottom, #990000, #bd0000);
  background: -moz-linear-gradient(center bottom, #990000 0%, #bd0000 100%);
  background: -o-linear-gradient(#bd0000, #990000);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bd0000', endColorstr='#990000', GradientType=0);
}
#gmce_revisions_box #gmce_final_revision_wrap p input[type="button"]:hover {
  background-color: #990000;
}
/* Comments Popup */
.wp-admin #TB_ajaxContent {
  width: 640px!important;
}
.wp-admin #gmce_comments_wrapper {
  width: 610px!important;
}
.wp-admin #gmce_comments_wrapper #gmce_comments_revision {
  width: 586px!important;
}
.wp-admin #gmce_comments_wrapper #gmce_comments_comment_form_wrap {
  width: 610px!important;
}
#gmce_comments_wrapper {
  font-size: 12px!important;
  width: 95%;
  padding: 10px;
  background-color: #ffffff !important;
}
#gmce_comments_wrapper #gmce_comments_original_show {
  text-align: right;
}
#gmce_comments_wrapper #gmce_comments_original_show a {
  font-weight: bold;
  font-style: italic;
}
#gmce_comments_wrapper #gmce_comments_original {
  padding: 10px;
  margin: 6px 0 15px 0;
  border-left: 3px solid #e4e4e4;
}
#gmce_comments_wrapper #gmce_comments_original h5 {
  font-size: 1.05em;
  font-weight: bold;
}
#gmce_comments_wrapper #gmce_comments_original h5 i {
  font-style: italic;
  color: #444444;
}
#gmce_comments_wrapper #gmce_comments_original .gmce_comments_original_content {
  text-align: justify;
  font-size: 1em;
  line-height: 1.2em;
}
#gmce_comments_wrapper #gmce_comments_revision {
  background-color: #f9f9f9;
  padding: 0 10px;
  border: 1px solid #e4e4e4;
  border-left: 3px solid #cc0000;
  margin: 15px 0;
}
#gmce_comments_wrapper #gmce_comments_revision h4 {
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 4px;
}
#gmce_comments_wrapper #gmce_comments_revision .gmce_comments_revision_reason {
  font-weight: bold;
  font-size: 1em;
  line-height: 1.2;
  font-style: italic;
  color: #cc0000;
}
#gmce_comments_wrapper #gmce_comments_revision .gmce_comments_revision_content {
  text-align: justify;
  font-size: 1.1em;
  line-height: 1.2;
}
#gmce_comments_wrapper #gmce_comments_revision .gmce_comments_revision_meta {
  text-align: right;
}
#gmce_comments_wrapper #gmce_comments_revision .gmce_comments_revision_meta p .gmce_comments_revision_author {
  font-weight: bold;
}
#gmce_comments_wrapper #gmce_comments_revision .gmce_comments_revision_meta p .gmce_comments_revision_author a {
  text-decoration: none;
}
#gmce_comments_wrapper #gmce_comments_revision .gmce_comments_revision_meta p .gmce_comments_revision_time {
  font-style: italic;
}
#gmce_comments_wrapper #gmce_comments_comment_form_wrap {
  width: 100%;
}
#gmce_comments_wrapper #gmce_comments_comment_form_wrap h4 {
  font-size: 1em;
  font-weight: bold;
}
#gmce_comments_wrapper #gmce_comments_comment_form_wrap h4 a.gmce_leave_comment_open {
  text-decoration: none;
  padding: 6px;
  display: block;
  color: #ffffff;
  background: none;
  outline: none;
  border: none;
  box-shadow: none;
  border-top: solid 1px #008a00;
  border-left: solid 1px #008a00;
  border-right: solid 1px #008a00;
  border-bottom: solid 1px #008000;
  background: #009900;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #008000), color-stop(1, #009900));
  background: -ms-linear-gradient(bottom, #008000, #009900);
  background: -moz-linear-gradient(center bottom, #008000 0%, #009900 100%);
  background: -o-linear-gradient(#009900, #008000);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#009900', endColorstr='#008000', GradientType=0);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  text-align: center;
}
#gmce_comments_wrapper #gmce_comments_comment_form_wrap h4 a.gmce_leave_comment_open:hover {
  text-decoration: none;
  border-top: solid 1px #008000;
  border-left: solid 1px #008000;
  border-right: solid 1px #008000;
  border-bottom: solid 1px #006600;
  background: #008a00;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #006600), color-stop(1, #008a00));
  background: -ms-linear-gradient(bottom, #006600, #008a00);
  background: -moz-linear-gradient(center bottom, #006600 0%, #008a00 100%);
  background: -o-linear-gradient(#008a00, #006600);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#008a00', endColorstr='#006600', GradientType=0);
}
#gmce_comments_wrapper #gmce_comments_comment_form_wrap #gmce_comments_feedback {
  margin: 10px;
  padding: 9px;
  background-color: #ffffff;
  text-align: center;
  font-weight: bold;
  border: 1px solid #e4e4e4;
}
#gmce_comments_wrapper #gmce_comments_comment_form_wrap #gmce_comments_feedback.success {
  color: #006600;
}
#gmce_comments_wrapper #gmce_comments_comment_form_wrap #gmce_comments_feedback.error {
  color: #990000;
}
#gmce_comments_wrapper #gmce_comments_comment_form_wrap #gmce_comment_content_wrap {
  width: 100%;
  margin: 15px 0;
}
#gmce_comments_wrapper #gmce_comments_comment_form_wrap #gmce_comment_content_wrap.closed {
  display: none;
}
#gmce_comments_wrapper #gmce_comments_comment_form_wrap #gmce_comment_content_wrap textarea {
  width: 98%;
  padding: 5px;
  font-size: .9em;
  line-height: 1.1em;
  border: 1px solid #e4e4e4;
}
#gmce_comments_wrapper #gmce_comments_comment_form_wrap #gmce_comment_content_wrap p {
  text-align: right;
}
#gmce_comments_wrapper #gmce_comments_comment_form_wrap #gmce_comment_content_wrap a#gmce_leave_comment_close {
  text-decoration: none;
}
#gmce_comments_wrapper #gmce_comments_comment_form_wrap #gmce_comment_content_wrap a#gmce_leave_comment_close:hover {
  text-decoration: none;
}
#gmce_comments_wrapper #gmce_comments_comment_form_wrap #gmce_comment_content_wrap input[type="button"] {
  background: none;
  outline: none;
  border: none;
  box-shadow: none;
  border-top: solid 1px #008a00;
  border-left: solid 1px #008a00;
  border-right: solid 1px #008a00;
  border-bottom: solid 1px #008000;
  background: #009900;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #008000), color-stop(1, #009900));
  background: -ms-linear-gradient(bottom, #008000, #009900);
  background: -moz-linear-gradient(center bottom, #008000 0%, #009900 100%);
  background: -o-linear-gradient(#009900, #008000);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#009900', endColorstr='#008000', GradientType=0);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  color: #ffffff;
  padding: 4px 8px;
  text-align: center;
  font-size: 1.1em;
}
#gmce_comments_wrapper #gmce_comments_comment_form_wrap #gmce_comment_content_wrap input[type="button"]:hover {
  text-decoration: none;
  border-top: solid 1px #008000;
  border-left: solid 1px #008000;
  border-right: solid 1px #008000;
  border-bottom: solid 1px #006600;
  background: #008a00;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #006600), color-stop(1, #008a00));
  background: -ms-linear-gradient(bottom, #006600, #008a00);
  background: -moz-linear-gradient(center bottom, #006600 0%, #008a00 100%);
  background: -o-linear-gradient(#008a00, #006600);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#008a00', endColorstr='#006600', GradientType=0);
}
#gmce_comments_wrapper h4.gmce_comments_list_title {
  font-size: 1.2em;
  font-weight: bold;
  margin: 20px 0 0 0;
}
#gmce_comments_wrapper h4 #gmce_comments_sort {
  margin: 0;
  padding: 0;
  text-align: right;
}
#gmce_comments_wrapper #gmce_comments_sort {
  margin: 0;
  padding: 0;
  text-align: right;
}
#gmce_comments_wrapper #gmce_comments_sort a,
#gmce_comments_wrapper #gmce_comments_sort a:hover {
  text-decoration: none;
}
#gmce_comments_wrapper ul#gmce_comments_list {
  margin: 10px 0 ;
}
#gmce_comments_wrapper ul#gmce_comments_list li.gmce_comment {
  margin: 10px 0;
  padding: 4px 5px;
  border: 1px solid #e4e4e4;
  list-style: none!important;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#gmce_comments_wrapper ul#gmce_comments_list li.gmce_comment .gmce_comment_content {
  text-align: justify;
  font-size: 1.1em;
  line-height: 1.3em;
}
#gmce_comments_wrapper ul#gmce_comments_list li.gmce_comment .gmce_comment_content .deleted {
  font-style: italic;
  color: #999999;
}
#gmce_comments_wrapper ul#gmce_comments_list li.gmce_comment p.gmce_comment_author_time {
  text-align: right;
  font-size: 0.95em;
}
#gmce_comments_wrapper ul#gmce_comments_list li.gmce_comment p.gmce_comment_author_time .gmce_comment_author {
  font-weight: bold;
}
#gmce_comments_wrapper ul#gmce_comments_list li.gmce_comment p.gmce_comment_author_time .gmce_comment_author a {
  text-decoration: none;
}
#gmce_comments_wrapper .gmce_comments_nocomments {
  padding-top: 24px;
  margin-top: 24px;
  border-top: 1px solid #e4e4e4;
}
#gmce_comments_wrapper .gmce_comments_nocomments a.be_the_first {
  font-weight: bold;
}
